body{
    margin: 0%;
    width: 100%;
    background-color: #e5e5e5;
}

.nav{
    background-color: #562EFF;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.nav-idea, .navigation{
    display: flex;
    align-items: center;
}

.nav img{
    height: 51px;
    padding: 0%;
}

.nav-idea a{
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-left: 10px;
}

.navigation a{
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;font-weight: 400;
    padding-right: 36px;
}

a:hover{
    font-size: 25px;
}

.main-section{
    background-color: #ffffff;
    border-radius: 5px;
}
main{
    width: 75%;
    margin: 80px auto;
    display: grid;
    gap: 20px;
}
h2{
    color: #562EFF;
}
.top-players-and-blogs{
    padding: 3%;
    border-radius: 10px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
}
.player{
    display: flex;
    align-items: center;
    gap: 10px;
}
.player img{
    width: 56px;
    height: 56px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
}
.blog img{
    width: 177px;
    height: 117px;
    border-radius: mixed;
}

